In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
FEMA_df = pd.read_csv('FIMA_NFIP_Redacted_Claims_Data_Set/openFEMA_claims20190831.csv')
FEMA_df.head()

C:\Users\hcivi_000.000\Anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,11,15,22,23,31,32,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,agriculturestructureindicator,asofdate,basefloodelevation,basementenclosurecrawlspacetype,reportedcity,condominiumindicator,policycount,countycode,crsdiscount,dateofloss,...,amountpaidonincreasedcostofcomplianceclaim,postfirmconstructionindicator,ratemethod,smallbusinessindicatorbuilding,state,totalbuildinginsurancecoverage,totalcontentsinsurancecoverage,yearofloss,reportedzipcode,primaryresidence
0,NaN,2019-08-31,NaN,0.0,OCEANSIDE,N,1.0,6073.0,0.00,1998-02-07,...,NaN,N,7,NaN,CA,200000.0,50000.0,1998,92056,NaN
1,NaN,2019-08-31,NaN,0.0,NEW ORLEANS,N,1.0,22071.0,0.00,2005-08-29,...,NaN,N,7,NaN,LA,100000.0,40000.0,2005,70131,Y
2,NaN,2019-08-31,NaN,0.0,NAVARRE,N,1.0,12113.0,0.05,1998-09-28,...,0.0,N,1,NaN,FL,100000.0,50000.0,1998,32566,NaN
3,NaN,2019-08-31,NaN,1.0,BEAUFORT,N,1.0,45013.0,0.00,1994-10-07,...,NaN,N,7,NaN,SC,100000.0,25000.0,1994,29902,NaN
4,NaN,2019-08-31,NaN,0.0,MELBOURNE,N,1.0,12009.0,0.00,1996-03-11,...,NaN,Y,7,NaN,FL,100000.0,25000.0,1996,32940,NaN

In [2]:
FEMA_Clean_df=FEMA_df.drop(columns=["policycount","countycode","crsdiscount","condominiumindicator","agriculturestructureindicator",
                                    "basementenclosurecrawlspacetype",'asofdate',"amountpaidoncontentsclaim","obstructiontype",
                      'basefloodelevation',"elevationcertificateindicator","elevatedbuildingindicator","censustract",
                      "houseworship","locationofcontents","lowestadjacentgrade","postfirmconstructionindicator","yearofloss",
                      "lowestfloorelevation","nonprofitindicator","originalnbdate","amountpaidonincreasedcostofcomplianceclaim",
                      "smallbusinessindicatorbuilding","primaryresidence","ratemethod","totalbuildinginsurancecoverage","totalcontentsinsurancecoverage"])
FEMA_Clean_df.head(10)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
0,OCEANSIDE,1998-02-07,999.0,X,33.2,-117.3,4.0,1.0,1963-01-01,0.00,CA,92056
1,NEW ORLEANS,2005-08-29,999.0,X,29.9,-90.0,2.0,1.0,1967-07-01,0.00,LA,70131
2,NAVARRE,1998-09-28,999.0,X,30.4,-86.9,1.0,1.0,1972-01-01,8813.21,FL,32566
3,BEAUFORT,1994-10-07,999.0,X,32.4,-80.7,2.0,1.0,1960-01-01,2906.00,SC,29902
4,MELBOURNE,1996-03-11,999.0,X,28.3,-80.7,1.0,1.0,1988-01-01,3875.53,FL,32940
5,VIRGINIA BEACH,1998-02-03,999.0,AE,36.9,-76.0,1.0,1.0,1970-01-01,14985.92,VA,23451
6,HOUSTON,2017-08-27,999.0,X,29.7,-95.5,1.0,1.0,1974-01-01,195857.43,TX,77096
7,WAIANAE,1992-09-11,999.0,VE,21.4,-158.2,2.0,1.0,1974-07-31,0.00,HI,96792
8,MARATHON,1998-09-28,999.0,AE,24.7,-81.1,2.0,3.0,1973-01-01,2389.00,FL,33050
9,CARMEL,1995-03-11,999.0,AE,36.5,-121.9,1.0,1.0,1957-01-01,12737.86,CA,93923

In [3]:
FEMA_Clean_df.shape

(2432888, 12)

In [4]:
FEMA_Clean_df.dtypes

reportedcity                           object
dateofloss                             object
elevationdifference                   float64
floodzone                              object
latitude                              float64
longitude                             float64
numberoffloorsintheinsuredbuilding    float64
occupancytype                         float64
originalconstructiondate               object
amountpaidonbuildingclaim             float64
state                                  object
reportedzipcode                        object
dtype: object

In [5]:
#Remove all Data that donâ€™t have an City defined.
FEMA_Clean1_df=FEMA_Clean_df[FEMA_Clean_df["reportedcity"] != "N/A"]
FEMA_Clean1_df.dropna(subset=['reportedcity'], how='all', inplace=True)
print(FEMA_Clean1_df.shape)

FEMA_Clean2_df=FEMA_Clean1_df[FEMA_Clean1_df["amountpaidonbuildingclaim"] != "N/A"]
FEMA_Clean2_df.dropna(subset=['amountpaidonbuildingclaim'], how='all', inplace=True)
print(FEMA_Clean2_df.shape)

FEMA_Clean3_df=FEMA_Clean2_df[FEMA_Clean2_df["originalconstructiondate"] != "N/A"]
FEMA_Clean3_df.dropna(subset=['originalconstructiondate'], how='all', inplace=True)
print(FEMA_Clean3_df.shape)

FEMA_Clean4_df=FEMA_Clean3_df[FEMA_Clean3_df["floodzone"] != "N/A"]
FEMA_Clean4_df.dropna(subset=['floodzone'], how='all', inplace=True)
print(FEMA_Clean4_df.shape)

FEMA_Clean5_df=FEMA_Clean4_df[FEMA_Clean4_df["occupancytype"] != "N/A"]
FEMA_Clean5_df.dropna(subset=['occupancytype'], how='all', inplace=True)
print(FEMA_Clean5_df.shape)

FEMA_Clean6_df=FEMA_Clean5_df[FEMA_Clean5_df["numberoffloorsintheinsuredbuilding"] != "N/A"]
FEMA_Clean6_df.dropna(subset=['numberoffloorsintheinsuredbuilding'], how='all', inplace=True)
print(FEMA_Clean6_df.shape)

FEMA_Clean7_df=FEMA_Clean6_df[FEMA_Clean6_df["latitude"] != "N/A"]
FEMA_Clean7_df.dropna(subset=['latitude'], how='all', inplace=True)
print(FEMA_Clean7_df.shape)

FEMA_Clean8_df=FEMA_Clean7_df[FEMA_Clean7_df["occupancytype"] != "N/A"]
FEMA_Clean8_df.dropna(subset=['longitude'], how='all', inplace=True)
print(FEMA_Clean8_df.shape)

FEMA_Clean9_df=FEMA_Clean8_df[FEMA_Clean8_df["dateofloss"] != "N/A"]
FEMA_Clean9_df.dropna(subset=['dateofloss'], how='all', inplace=True)
print(FEMA_Clean9_df.shape)

FEMA_Clean10_df=FEMA_Clean9_df[FEMA_Clean9_df["reportedzipcode"] != "N/A"]
FEMA_Clean10_df.dropna(subset=['reportedzipcode'], how='all', inplace=True)
print(FEMA_Clean10_df.shape)

FEMA_Clean11_df=FEMA_Clean10_df[FEMA_Clean10_df["reportedzipcode"] != "N/A"]
FEMA_Clean11_df.dropna(subset=['reportedzipcode'], how='all', inplace=True)
print(FEMA_Clean11_df.shape)

FEMA_Clean12_df=FEMA_Clean11_df[FEMA_Clean11_df["elevationdifference"] != "N/A"]
FEMA_Clean12_df.dropna(subset=['elevationdifference'], how='all', inplace=True)
print(FEMA_Clean12_df.shape)

FEMA_Clean13_df=FEMA_Clean12_df[FEMA_Clean12_df["state"] != "N/A"]
FEMA_Clean13_df.dropna(subset=['state'], how='all', inplace=True)
print(FEMA_Clean13_df.shape)

FEMA_Clean13_df.head(5)

# Drop rows with any empty cells
# FEMA_Clean_df=FEMA_Clean_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

(2428382, 12)

C:\Users\hcivi_000.000\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

(2355202, 12)
(2021408, 12)
(2001194, 12)
(2001175, 12)
(2001173, 12)
(1986473, 12)
(1986473, 12)
(1986473, 12)
(1986351, 12)
(1986351, 12)
(1986351, 12)
(1986351, 12)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
0,OCEANSIDE,1998-02-07,999.0,X,33.2,-117.3,4.0,1.0,1963-01-01,0.00,CA,92056
1,NEW ORLEANS,2005-08-29,999.0,X,29.9,-90.0,2.0,1.0,1967-07-01,0.00,LA,70131
2,NAVARRE,1998-09-28,999.0,X,30.4,-86.9,1.0,1.0,1972-01-01,8813.21,FL,32566
3,BEAUFORT,1994-10-07,999.0,X,32.4,-80.7,2.0,1.0,1960-01-01,2906.00,SC,29902
4,MELBOURNE,1996-03-11,999.0,X,28.3,-80.7,1.0,1.0,1988-01-01,3875.53,FL,32940

In [6]:
# Drop rows with any empty cells, check
FEMA_Clean14_df=FEMA_Clean13_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
print(FEMA_Clean14_df.shape)
FEMA_Clean14_df

(1986351, 12)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
0,OCEANSIDE,1998-02-07,999.0,X,33.2,-117.3,4.0,1.0,1963-01-01,0.00,CA,92056
1,NEW ORLEANS,2005-08-29,999.0,X,29.9,-90.0,2.0,1.0,1967-07-01,0.00,LA,70131
2,NAVARRE,1998-09-28,999.0,X,30.4,-86.9,1.0,1.0,1972-01-01,8813.21,FL,32566
3,BEAUFORT,1994-10-07,999.0,X,32.4,-80.7,2.0,1.0,1960-01-01,2906.00,SC,29902
4,MELBOURNE,1996-03-11,999.0,X,28.3,-80.7,1.0,1.0,1988-01-01,3875.53,FL,32940
...,...,...,...,...,...,...,...,...,...,...,...,...
2432883,MIAMI,2005-08-26,1.0,AHB,25.6,-80.4,1.0,1.0,1985-01-01,4390.96,FL,33177
2432884,MIAMI,2005-08-25,1.0,AHB,25.6,-80.4,1.0,1.0,1990-01-01,3541.59,FL,33186
2432885,PINECREST,2005-06-20,-1.0,AE,25.7,-80.3,1.0,1.0,1959-01-01,8335.35,FL,33156
2432886,PINECREST,2005-08-25,999.0,AE,25.7,-80.3,1.0,1.0,1959-01-01,2396.44,FL,33156
2432887,MIAMI,2005-08-25,0.0,AHB,25.6,-80.4,1.0,1.0,1953-01-01,17900.00,FL,33177

In [7]:
FEMA_Clean14_df.dtypes

reportedcity                           object
dateofloss                             object
elevationdifference                   float64
floodzone                              object
latitude                              float64
longitude                             float64
numberoffloorsintheinsuredbuilding    float64
occupancytype                         float64
originalconstructiondate               object
amountpaidonbuildingclaim             float64
state                                  object
reportedzipcode                        object
dtype: object

In [8]:
#convert dateofloss type to datetime
FEMA_Clean14_df['dateofloss'] =  pd.to_datetime(FEMA_Clean14_df['dateofloss'], format='%Y-%m-%d')
FEMA_Clean14_df.dtypes

reportedcity                                  object
dateofloss                            datetime64[ns]
elevationdifference                          float64
floodzone                                     object
latitude                                     float64
longitude                                    float64
numberoffloorsintheinsuredbuilding           float64
occupancytype                                float64
originalconstructiondate                      object
amountpaidonbuildingclaim                    float64
state                                         object
reportedzipcode                               object
dtype: object

In [55]:
#Identify which row makes error on originalconstructiondate and doesnt let to change the type to date
FEMA_Clean14_df['originalconstructiondate'] =  pd.to_datetime(FEMA_Clean14_df['originalconstructiondate'], errors='coerce')
FEMA_Clean14_df.sort_values('originalconstructiondate')

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
180884,CHARLESTON,2015-10-05,-9.0,AE,32.8,-79.9,3.0,1.0,1860-01-01,20346.88,SC,29401
1240464,CHARLESTON,2016-10-08,999.0,AE,32.8,-79.9,3.0,6.0,1876-07-01,36988.33,SC,29401
1717766,SAVANNAH,1999-09-15,999.0,X,32.1,-81.1,3.0,1.0,1880-01-01,2387.46,GA,31401
1721816,MANDEVILLE,2002-09-26,999.0,AE,30.4,-90.1,2.0,1.0,1888-12-31,2803.92,LA,70448
196601,WAHPETON,1997-04-10,999.0,X,46.3,-96.6,1.0,1.0,1891-07-01,1642.58,ND,58075
...,...,...,...,...,...,...,...,...,...,...,...,...
518034,MONT BELVIEU,2019-05-09,999.0,X,29.8,-94.8,2.0,1.0,2019-01-01,50839.66,TX,77523
334993,SAINT CHARLES,2019-06-07,999.0,X,38.9,-90.5,2.0,1.0,2019-02-01,944.65,MO,63301
1064006,ORANGE,2019-05-09,999.0,C,30.2,-93.9,1.0,4.0,2019-02-01,49295.16,TX,77632
1129528,MINNEAPOLIS,2019-04-26,999.0,X,45.1,-93.4,2.0,1.0,2019-03-13,0.00,MN,55445
549916,NAGS HEAD,1993-03-13,1.0,A05,35.9,-75.6,1.0,1.0,NaT,10541.57,NC,27959

In [56]:
FEMA_Clean14_df.dtypes

reportedcity                                  object
dateofloss                            datetime64[ns]
elevationdifference                          float64
floodzone                                     object
latitude                                     float64
longitude                                    float64
numberoffloorsintheinsuredbuilding           float64
occupancytype                                float64
originalconstructiondate              datetime64[ns]
amountpaidonbuildingclaim                    float64
state                                         object
reportedzipcode                               object
dtype: object

In [57]:
FEMA_Clean15_df=FEMA_Clean14_df[FEMA_Clean14_df["dateofloss"] > "2013-12-31"]
FEMA_Clean15_df

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
6,HOUSTON,2017-08-27,999.0,X,29.7,-95.5,1.0,1.0,1974-01-01,195857.43,TX,77096
48,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,MA,2650
84,SCITUATE,2018-03-02,999.0,X,42.2,-70.7,3.0,1.0,1981-07-01,3201.31,MA,2066
85,SCITUATE,2018-06-09,999.0,X,42.2,-70.7,3.0,1.0,1981-07-01,0.00,MA,2066
111,NEW BRAUNFELS,2015-10-30,2.0,AE,29.7,-98.1,3.0,1.0,2003-12-02,3309.59,TX,78130
...,...,...,...,...,...,...,...,...,...,...,...,...
2432873,NEW BRAUNFELS,2015-10-30,999.0,X,29.7,-98.2,1.0,1.0,1974-01-01,13929.98,TX,78130
2432874,KINGWOOD,2017-08-27,3.0,AE,30.1,-95.1,1.0,1.0,2002-01-01,250000.00,TX,77345
2432875,HOUSTON,2017-08-29,999.0,X,29.9,-95.3,1.0,1.0,1971-01-01,101508.49,TX,77039
2432877,HOUSTON,2017-08-26,999.0,X,29.8,-95.2,1.0,1.0,1952-06-01,76068.15,TX,77015
2432878,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,SC,29074

In [58]:
FEMA_Clean15_df=FEMA_Clean15_df[FEMA_Clean15_df["dateofloss"] < "2016-01-01"]
FEMA_Clean15_df

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
48,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,MA,2650
111,NEW BRAUNFELS,2015-10-30,2.0,AE,29.7,-98.1,3.0,1.0,2003-12-02,3309.59,TX,78130
153,PENSACOLA,2014-04-30,2.0,AE,30.3,-87.5,2.0,1.0,1982-07-01,0.00,FL,32507
300,EDISTO BEACH,2015-10-03,5.0,AE,32.5,-80.3,1.0,1.0,1980-01-01,0.00,SC,29438
370,PENSACOLA,2014-04-29,999.0,X,30.4,-87.3,2.0,1.0,1996-01-01,26119.37,FL,32506
...,...,...,...,...,...,...,...,...,...,...,...,...
2432867,HOUSTON,2015-05-25,999.0,X,29.7,-95.6,1.0,1.0,1967-01-15,7901.12,TX,77099
2432870,HOUSTON,2014-05-28,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,2259.89,TX,77080
2432871,HOUSTON,2015-05-25,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,1638.83,TX,77080
2432873,NEW BRAUNFELS,2015-10-30,999.0,X,29.7,-98.2,1.0,1.0,1974-01-01,13929.98,TX,78130
2432878,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,SC,29074

In [59]:
FEMA_Clean15_df.sort_values('dateofloss')

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
875093,SEBASTIAN,2014-01-01,999.0,X,27.8,-80.5,1.0,1.0,1981-01-01,0.00,FL,32958
210760,WINTER GARDEN,2014-01-01,999.0,X,28.5,-81.6,2.0,1.0,2003-01-01,0.00,FL,34787
73703,JOHNS ISLAND,2014-01-01,999.0,X,32.7,-80.1,1.0,1.0,2006-01-01,0.00,SC,29455
1567804,BOYNTON BEACH,2014-01-01,999.0,B,26.5,-80.2,1.0,1.0,1997-01-01,0.00,FL,33437
1053740,LINCOLN,2014-01-01,999.0,AE,40.8,-96.7,2.0,1.0,1961-07-01,0.00,NE,68521
...,...,...,...,...,...,...,...,...,...,...,...,...
210055,HOWARD CREEK,2015-12-31,999.0,A03,30.1,-85.2,1.0,1.0,1974-01-01,46485.13,FL,32465
1197100,PEORIA,2015-12-31,999.0,A13,40.8,-89.6,2.0,2.0,1977-01-01,4843.13,IL,61615
1187818,PONCE DE LEON,2015-12-31,999.0,C,30.4,-86.0,1.0,1.0,1985-01-01,0.00,FL,32455
204449,DONIPHAN,2015-12-31,5.0,A,36.6,-90.8,1.0,1.0,2007-07-01,19782.81,MO,63935
2432878,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,SC,29074

In [60]:
#Remove the row in originalconstructiondate that causes error
# FEMA_Clean15_df=FEMA_Clean14_df.drop(549916)

In [61]:
#convert originalconstructiondate type to datetime
FEMA_Clean15_df['originalconstructiondate'] =  pd.to_datetime(FEMA_Clean15_df['originalconstructiondate'], format='%Y-%m-%d', errors='ignore')
FEMA_Clean15_df.dtypes

C:\Users\hcivi_000.000\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

reportedcity                                  object
dateofloss                            datetime64[ns]
elevationdifference                          float64
floodzone                                     object
latitude                                     float64
longitude                                    float64
numberoffloorsintheinsuredbuilding           float64
occupancytype                                float64
originalconstructiondate              datetime64[ns]
amountpaidonbuildingclaim                    float64
state                                         object
reportedzipcode                               object
dtype: object

In [62]:
from geopandas import GeoDataFrame
from shapely.geometry import Point
import pandas as pd
import geopandas
import matplotlib.pyplot as plt

In [63]:
gdf_FEMA = geopandas.GeoDataFrame(
    FEMA_Clean15_df, geometry=geopandas.points_from_xy(FEMA_Clean15_df.longitude, FEMA_Clean15_df.latitude))

In [64]:
gdf_FEMA

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode,geometry
48,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,MA,2650,POINT (-70.00000 41.70000)
111,NEW BRAUNFELS,2015-10-30,2.0,AE,29.7,-98.1,3.0,1.0,2003-12-02,3309.59,TX,78130,POINT (-98.10000 29.70000)
153,PENSACOLA,2014-04-30,2.0,AE,30.3,-87.5,2.0,1.0,1982-07-01,0.00,FL,32507,POINT (-87.50000 30.30000)
300,EDISTO BEACH,2015-10-03,5.0,AE,32.5,-80.3,1.0,1.0,1980-01-01,0.00,SC,29438,POINT (-80.30000 32.50000)
370,PENSACOLA,2014-04-29,999.0,X,30.4,-87.3,2.0,1.0,1996-01-01,26119.37,FL,32506,POINT (-87.30000 30.40000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432867,HOUSTON,2015-05-25,999.0,X,29.7,-95.6,1.0,1.0,1967-01-15,7901.12,TX,77099,POINT (-95.60000 29.70000)
2432870,HOUSTON,2014-05-28,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,2259.89,TX,77080,POINT (-95.50000 29.80000)
2432871,HOUSTON,2015-05-25,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,1638.83,TX,77080,POINT (-95.50000 29.80000)
2432873,NEW BRAUNFELS,2015-10-30,999.0,X,29.7,-98.2,1.0,1.0,1974-01-01,13929.98,TX,78130,POINT (-98.20000 29.70000)
2432878,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,SC,29074,POINT (-80.80000 34.40000)

In [19]:
# # import xarray as xr
# from pylab import *
# import netCDF4
# import xarray as xr

# nc = netCDF4.Dataset('NASA/data/daymet_v3_stnsxval_prcp_1980.nc4')
# # ds = xr.open_dataset(NASA/Daymet_V3_Stn_Level_CrossVal_1391/Daymet_V3_Stn_Level_CrossVal_1391/data/daymet_v3_stnsxval_prcp_1980.nc4')
# # df = ds.to_dataframe()
# nc

In [20]:
# nc["obs"]

In [21]:
from pylab import *
import netCDF4
import xarray as xr
import numpy as np

In [22]:

# import xarray as xr

# ds_1993 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1993.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_1994 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1994.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_1995 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1995.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_1996 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1996.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_1997 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1997.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_1998 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1998.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_1999 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_1999.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2000 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2000.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2001 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2001.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2002 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2002.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2003 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2003.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2004 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2004.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2005 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2005.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2006 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2006.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2007 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2007.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2008 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2008.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2009 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2009.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2010 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2010.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2011 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2011.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2012 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2012.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
# ds_2013 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2013.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
ds_2014 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2014.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
ds_2015 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2015.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
ds_2016 = xr.open_dataset('NASA/data/daymet_v3_stnsxval_prcp_2016.nc4',drop_variables=["stns","station_id","station_name","stnz","time_bnds", "stnx","stny"])
ds_2015

<xarray.Dataset>
Dimensions:  (stns: 20930, time: 365)
Coordinates:
    stn_lat  (stns) float64 ...
    stn_lon  (stns) float64 ...
  * time     (time) datetime64[ns] 2015-01-01T12:00:00 ... 2015-12-31T12:00:00
Dimensions without coordinates: stns
Data variables:
    obs      (stns, time) float64 ...
    pred     (stns, time) float64 ...
Attributes:
    featureType:       timeSeries
    source:            Daymet Software Version 3.0
    Version_software:  Daymet Software Version 3.0
    Version_data:      Daymet Data Version 3.0
    citation:          Please see http://daymet.ornl.gov/ for current Daymet ...

In [23]:
# ds_1993 = ds_1993.to_dataframe().reset_index()
# ds_1994 = ds_1994.to_dataframe().reset_index()
# ds_1995 = ds_1995.to_dataframe().reset_index()
# ds_1996 = ds_1996.to_dataframe().reset_index()
# ds_1997 = ds_1997.to_dataframe().reset_index()
# ds_1998 = ds_1998.to_dataframe().reset_index()
# ds_1999 = ds_1999.to_dataframe().reset_index()
# ds_2000 = ds_2000.to_dataframe()
# ds_2001 = ds_2001.to_dataframe()
# ds_2002 = ds_2002.to_dataframe()
# ds_2003 = ds_2003.to_dataframe()
# ds_2004 = ds_2004.to_dataframe()
# ds_2005 = ds_2005.to_dataframe()
# ds_2006 = ds_2006.to_dataframe()
# ds_2007 = ds_2007.to_dataframe()
# ds_2008 = ds_2008.to_dataframe()
# ds_2009 = ds_2009.to_dataframe()
# ds_2010 = ds_2010.to_dataframe()
# ds_2011 = ds_2011.to_dataframe()
# ds_2012 = ds_2012.to_dataframe()
# ds_2013 = ds_2013.to_dataframe()
ds_2014 = ds_2014.to_dataframe()
ds_2015 = ds_2015.to_dataframe()
df_2016 = ds_2016.to_dataframe()
ds_2015

                            obs      pred  stn_lat  stn_lon
stns  time
0     2015-01-01 12:00:00  0.00  0.000000   22.208 -159.406
      2015-01-02 12:00:00  0.15  0.774545   22.208 -159.406
      2015-01-03 12:00:00  6.02  5.175762   22.208 -159.406
      2015-01-04 12:00:00   NaN       NaN   22.208 -159.406
      2015-01-05 12:00:00  0.00  0.000000   22.208 -159.406
...                         ...       ...      ...      ...
20929 2015-12-27 12:00:00  0.00  0.000000   20.683  -88.200
      2015-12-28 12:00:00  0.00  0.000000   20.683  -88.200
      2015-12-29 12:00:00  0.53  0.000000   20.683  -88.200
      2015-12-30 12:00:00  0.00  0.691709   20.683  -88.200
      2015-12-31 12:00:00   NaN       NaN   20.683  -88.200

[7639450 rows x 4 columns]

In [24]:
# ds_2015.reset_index()

In [25]:
# print(ds_1993.shape)
# ds_1993.head()

In [26]:
# ds_1993=ds_1993[ds_1993.obs > 0].reset_index()
# ds_1994=ds_1994[ds_1994.obs > 0].reset_index()
# ds_1995=ds_1995[ds_1995.obs > 0].reset_index()
# ds_1996=ds_1996[ds_1996.obs > 0].reset_index()
# ds_1997=ds_1997[ds_1997.obs > 0].reset_index()
# ds_1998=ds_1998[ds_1998.obs > 0].reset_index()
# ds_1999=ds_1999[ds_1999.obs > 0].reset_index()
# ds_2000=ds_2000[ds_2000.obs > 0].reset_index()
# ds_2001=ds_2001[ds_2001.obs > 0].reset_index()
# ds_2002=ds_2002[ds_2002.obs > 0].reset_index()
# ds_2003=ds_2003[ds_2003.obs > 0].reset_index()
# ds_2004=ds_2004[ds_2004.obs > 0].reset_index()
# ds_2005=ds_2005[ds_2005.obs > 0].reset_index()
# ds_2006=ds_2006[ds_2006.obs > 0].reset_index()
# ds_2007=ds_2007[ds_2007.obs > 0].reset_index()
# ds_2008=ds_2008[ds_2008.obs > 0].reset_index()
# ds_2009=ds_2009[ds_2009.obs > 0].reset_index()
# ds_2010=ds_2010[ds_2010.obs > 0].reset_index()
# ds_2011=ds_2011[ds_2011.obs > 0].reset_index()
# ds_2012=ds_2012[ds_2012.obs > 0].reset_index()
# ds_2013=ds_2013[ds_2013.obs > 0].reset_index()
# ds_2014=ds_2014[ds_2014.obs > 0].reset_index()
# ds_2015=ds_2015[ds_2015.obs > 0].reset_index()
# ds_2016=ds_2016[ds_2016.obs > 0]
ds_2015
# print(ds_1993.shape)
# ds_1993.head(20)

                            obs      pred  stn_lat  stn_lon
stns  time
0     2015-01-01 12:00:00  0.00  0.000000   22.208 -159.406
      2015-01-02 12:00:00  0.15  0.774545   22.208 -159.406
      2015-01-03 12:00:00  6.02  5.175762   22.208 -159.406
      2015-01-04 12:00:00   NaN       NaN   22.208 -159.406
      2015-01-05 12:00:00  0.00  0.000000   22.208 -159.406
...                         ...       ...      ...      ...
20929 2015-12-27 12:00:00  0.00  0.000000   20.683  -88.200
      2015-12-28 12:00:00  0.00  0.000000   20.683  -88.200
      2015-12-29 12:00:00  0.53  0.000000   20.683  -88.200
      2015-12-30 12:00:00  0.00  0.691709   20.683  -88.200
      2015-12-31 12:00:00   NaN       NaN   20.683  -88.200

[7639450 rows x 4 columns]

In [27]:
# # ds_1993=ds_1993[ds_1993.obs > 0].reset_index()
# # ds_1994=ds_1994[ds_1994.obs > 0].reset_index()
# # ds_1995=ds_1995[ds_1995.obs > 0].reset_index()
# # ds_1996=ds_1996[ds_1996.obs > 0].reset_index()
# # ds_1997=ds_1997[ds_1997.obs > 0].reset_index()
# # ds_1998=ds_1998[ds_1998.obs > 0].reset_index()
# # ds_1999=ds_1999[ds_1999.obs > 0].reset_index()
# # ds_2000=ds_2000[ds_2000.obs > 0].reset_index()
# # ds_2001=ds_2001[ds_2001.obs > 0].reset_index()
# # ds_2002=ds_2002[ds_2002.obs > 0].reset_index()
# # ds_2003=ds_2003[ds_2003.obs > 0].reset_index()
# # ds_2004=ds_2004[ds_2004.obs > 0].reset_index()
# # ds_2005=ds_2005[ds_2005.obs > 0].reset_index()
# # ds_2006=ds_2006[ds_2006.obs > 0].reset_index()
# # ds_2007=ds_2007[ds_2007.obs > 0].reset_index()
# # ds_2008=ds_2008[ds_2008.obs > 0].reset_index()
# # ds_2009=ds_2009[ds_2009.obs > 0].reset_index()
# ds_2010=ds_2010.reset_index()
# ds_2011=ds_2011.reset_index()
# ds_2012=ds_2012.reset_index()
# ds_2013=ds_2013.reset_index()
ds_2014=ds_2014.reset_index()
ds_2015=ds_2015.reset_index()
# # ds_2016=ds_2016[ds_2016.obs > 0]
ds_2015
# # print(ds_1993.shape)
# # ds_1993.head(20)

          stns                time   obs      pred  stn_lat  stn_lon
0            0 2015-01-01 12:00:00  0.00  0.000000   22.208 -159.406
1            0 2015-01-02 12:00:00  0.15  0.774545   22.208 -159.406
2            0 2015-01-03 12:00:00  6.02  5.175762   22.208 -159.406
3            0 2015-01-04 12:00:00   NaN       NaN   22.208 -159.406
4            0 2015-01-05 12:00:00  0.00  0.000000   22.208 -159.406
...        ...                 ...   ...       ...      ...      ...
7639445  20929 2015-12-27 12:00:00  0.00  0.000000   20.683  -88.200
7639446  20929 2015-12-28 12:00:00  0.00  0.000000   20.683  -88.200
7639447  20929 2015-12-29 12:00:00  0.53  0.000000   20.683  -88.200
7639448  20929 2015-12-30 12:00:00  0.00  0.691709   20.683  -88.200
7639449  20929 2015-12-31 12:00:00   NaN       NaN   20.683  -88.200

[7639450 rows x 6 columns]

In [28]:
NASA_Comb = pd.concat([
ds_2014,
ds_2015], ignore_index=True, sort=False)

In [29]:
NASA_Comb['time'] = pd.to_datetime(NASA_Comb['time'])
NASA_Comb['new_date_column'] = NASA_Comb['time'].dt.date
NASA_Comb['new_date_column'] =  pd.to_datetime(NASA_Comb['new_date_column'], format='%Y-%m-%d')

In [30]:
NASA_Comb

,stns,time,obs,pred,stn_lat,stn_lon,new_date_column
0,0,2014-01-01 12:00:00,0.05,0.000000,22.208,-159.406,2014-01-01
1,0,2014-01-02 12:00:00,0.00,0.594826,22.208,-159.406,2014-01-02
2,0,2014-01-03 12:00:00,1.12,0.815980,22.208,-159.406,2014-01-03
3,0,2014-01-04 12:00:00,0.00,0.000000,22.208,-159.406,2014-01-04
4,0,2014-01-05 12:00:00,0.00,0.055845,22.208,-159.406,2014-01-05
...,...,...,...,...,...,...,...
15161730,20929,2015-12-27 12:00:00,0.00,0.000000,20.683,-88.200,2015-12-27
15161731,20929,2015-12-28 12:00:00,0.00,0.000000,20.683,-88.200,2015-12-28
15161732,20929,2015-12-29 12:00:00,0.53,0.000000,20.683,-88.200,2015-12-29
15161733,20929,2015-12-30 12:00:00,0.00,0.691709,20.683,-88.200,2015-12-30
15161734,20929,2015-12-31 12:00:00,NaN,NaN,20.683,-88.200,2015-12-31

In [31]:
# NASA_Comb = ds_2015.append([
# # ds_1993, 
# # ds_1994, 
# # ds_1995,
# # ds_1996, 
# # ds_1997,
# # ds_1998,
# # ds_1999,
# # ds_2000,
# # ds_2001,
# # ds_2002,
# # ds_2003,
# # ds_2004,
# # ds_2005,
# # ds_2006,
# # ds_2007,
# # ds_2008,
# # ds_2009,
# ds_2010,
# ds_2011,
# ds_2012,
# ds_2013,
# ds_2014])

In [32]:
NASA_Comb.dtypes

stns                        int64
time               datetime64[ns]
obs                       float64
pred                      float64
stn_lat                   float64
stn_lon                   float64
new_date_column    datetime64[ns]
dtype: object

In [33]:
gdf_NASA = geopandas.GeoDataFrame(
    NASA_Comb, geometry=geopandas.points_from_xy(NASA_Comb.stn_lon, NASA_Comb.stn_lat))

In [34]:
gdf_NASA

,stns,time,obs,pred,stn_lat,stn_lon,new_date_column,geometry
0,0,2014-01-01 12:00:00,0.05,0.000000,22.208,-159.406,2014-01-01,POINT (-159.40600 22.20800)
1,0,2014-01-02 12:00:00,0.00,0.594826,22.208,-159.406,2014-01-02,POINT (-159.40600 22.20800)
2,0,2014-01-03 12:00:00,1.12,0.815980,22.208,-159.406,2014-01-03,POINT (-159.40600 22.20800)
3,0,2014-01-04 12:00:00,0.00,0.000000,22.208,-159.406,2014-01-04,POINT (-159.40600 22.20800)
4,0,2014-01-05 12:00:00,0.00,0.055845,22.208,-159.406,2014-01-05,POINT (-159.40600 22.20800)
...,...,...,...,...,...,...,...,...
15161730,20929,2015-12-27 12:00:00,0.00,0.000000,20.683,-88.200,2015-12-27,POINT (-88.20000 20.68300)
15161731,20929,2015-12-28 12:00:00,0.00,0.000000,20.683,-88.200,2015-12-28,POINT (-88.20000 20.68300)
15161732,20929,2015-12-29 12:00:00,0.53,0.000000,20.683,-88.200,2015-12-29,POINT (-88.20000 20.68300)
15161733,20929,2015-12-30 12:00:00,0.00,0.691709,20.683,-88.200,2015-12-30,POINT (-88.20000 20.68300)
15161734,20929,2015-12-31 12:00:00,NaN,NaN,20.683,-88.200,2015-12-31,POINT (-88.20000 20.68300)

In [35]:
gdf_NASA.to_csv('gdf_NASA.csv')

In [36]:
# from geopandas import GeoDataFrame
# from shapely.geometry import Point

# geometry = [Point(xy) for xy in zip(NASA_Comb.stn_lat, NASA_Comb.stn_lon)]
# NASA_Comb111 = NASA_Comb.drop(['stn_lat', 'stn_lon'], axis=1)
# crs = {'init': 'epsg:4326'}
# gdf = GeoDataFrame(NASA_Comb, crs=crs, geometry=geometry)

In [37]:
# import geopandas as gpd
# import numpy as np
# import pandas as pd

# from scipy.spatial import cKDTree
# from shapely.geometry import Point

# gpd1 = gpd.GeoDataFrame([['John', 1, Point(1, 1)], ['Smith', 1, Point(2, 2)],
#                          ['Soap', 1, Point(0, 2)]],
#                         columns=['Name', 'ID', 'geometry'])
# gpd2 = gpd.GeoDataFrame([['Work', Point(0, 1.1)], ['Shops', Point(2.5, 2)],
#                          ['Home', Point(1, 1.1)]],
#                         columns=['Place', 'geometry'])

# def ckdnearest(gdA, gdB):
#     nA = np.array(list(zip(gdA.geometry.x, gdA.geometry.y)) )
#     nB = np.array(list(zip(gdB.geometry.x, gdB.geometry.y)) )
#     btree = cKDTree(nB)
#     dist, idx = btree.query(nA, k=1)
#     gdf = pd.concat(
#         [gdA.reset_index(drop=True), gdB.loc[idx, gdB.columns != 'geometry'].reset_index(drop=True),
#          pd.Series(dist, name='dist')], axis=1)
#     return gdf

# ckdnearest(gpd1, gpd2)

In [38]:
import geopandas as gpd
import numpy as np
import pandas as pd

from scipy.spatial import cKDTree
from shapely.geometry import Point

gpd1 = gpd.GeoDataFrame([['John', 1, Point(1, 1)], ['Smith', 1, Point(2, 2)],
                         ['Soap', 1, Point(0, 2)]],
                        columns=['Name', 'ID', 'geometry'])
gpd2 = gpd.GeoDataFrame([['Work', Point(0, 1.1)], ['Shops', Point(2.5, 2)],
                         ['Home', Point(1, 1.1)]],
                        columns=['Place', 'geometry'])

def ckdnearest(gdA, gdB):
    nA = np.array(list(zip(gdA.geometry.x, gdA.geometry.y)) )
    nB = np.array(list(zip(gdB.geometry.x, gdB.geometry.y)) )
    btree = cKDTree(nB)
    dist, idx = btree.query(nA, k=1)
    gdf = pd.concat(
        [gdA.reset_index(drop=True), gdB.loc[idx, gdB.columns != 'geometry'].reset_index(drop=True),
         pd.Series(dist, name='dist')], axis=1)
    return gdf

ckdnearest(gpd1, gpd2)

    Name  ID                 geometry  Place  dist
0   John   1  POINT (1.00000 1.00000)   Home   0.1
1  Smith   1  POINT (2.00000 2.00000)  Shops   0.5
2   Soap   1  POINT (0.00000 2.00000)   Work   0.9

In [39]:
gdf_FEMA

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode,geometry
48,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,MA,2650,POINT (-70.00000 41.70000)
56,CARMEN,2012-05-20,999.0,X,45.2,-113.9,2.0,1.0,1976-01-01,0.00,ID,83462,POINT (-113.90000 45.20000)
59,MCQUEENEY,2010-06-09,999.0,AE,29.6,-98.0,1.0,1.0,1969-01-01,2553.64,TX,78123,POINT (-98.00000 29.60000)
69,TRAPPE,2011-08-27,999.0,X,38.7,-76.1,3.0,1.0,1960-01-01,8447.55,MD,21673,POINT (-76.10000 38.70000)
72,BRIGANTINE,2012-10-29,1.0,AE,39.4,-74.4,3.0,1.0,1979-07-01,40603.53,NJ,8203,POINT (-74.40000 39.40000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432870,HOUSTON,2014-05-28,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,2259.89,TX,77080,POINT (-95.50000 29.80000)
2432871,HOUSTON,2015-05-25,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,1638.83,TX,77080,POINT (-95.50000 29.80000)
2432873,NEW BRAUNFELS,2015-10-30,999.0,X,29.7,-98.2,1.0,1.0,1974-01-01,13929.98,TX,78130,POINT (-98.20000 29.70000)
2432876,SAN ANTONIO,2013-05-26,999.0,X,29.5,-98.5,1.0,1.0,1960-06-01,75882.72,TX,78216,POINT (-98.50000 29.50000)
2432878,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,SC,29074,POINT (-80.80000 34.40000)

In [44]:
gdf_NASA

,stns,time,obs,pred,stn_lat,stn_lon,new_date_column,geometry
0,0,2014-01-01 12:00:00,0.05,0.000000,22.208,-159.406,2014-01-01,POINT (-159.40600 22.20800)
1,0,2014-01-02 12:00:00,0.00,0.594826,22.208,-159.406,2014-01-02,POINT (-159.40600 22.20800)
2,0,2014-01-03 12:00:00,1.12,0.815980,22.208,-159.406,2014-01-03,POINT (-159.40600 22.20800)
3,0,2014-01-04 12:00:00,0.00,0.000000,22.208,-159.406,2014-01-04,POINT (-159.40600 22.20800)
4,0,2014-01-05 12:00:00,0.00,0.055845,22.208,-159.406,2014-01-05,POINT (-159.40600 22.20800)
...,...,...,...,...,...,...,...,...
15161730,20929,2015-12-27 12:00:00,0.00,0.000000,20.683,-88.200,2015-12-27,POINT (-88.20000 20.68300)
15161731,20929,2015-12-28 12:00:00,0.00,0.000000,20.683,-88.200,2015-12-28,POINT (-88.20000 20.68300)
15161732,20929,2015-12-29 12:00:00,0.53,0.000000,20.683,-88.200,2015-12-29,POINT (-88.20000 20.68300)
15161733,20929,2015-12-30 12:00:00,0.00,0.691709,20.683,-88.200,2015-12-30,POINT (-88.20000 20.68300)
15161734,20929,2015-12-31 12:00:00,NaN,NaN,20.683,-88.200,2015-12-31,POINT (-88.20000 20.68300)

In [45]:
a=gdf_NASA[gdf_NASA['stns']==179]
a.new_date_column

65335     2014-01-01
65336     2014-01-02
65337     2014-01-03
65338     2014-01-04
65339     2014-01-05
             ...
7587980   2015-12-27
7587981   2015-12-28
7587982   2015-12-29
7587983   2015-12-30
7587984   2015-12-31
Name: new_date_column, Length: 730, dtype: datetime64[ns]

In [77]:
inds=a['new_date_column']==datetime.datetime(2015,2,21)
a[inds]
# nearest_date(datetime.datetime(2015,2,21),179,gdf_NASA)

,stns,time,obs,pred,stn_lat,stn_lon,new_date_column,geometry
7587671,179,2015-02-21 12:00:00,0.0,0.0,26.1658,-97.3458,2015-02-21,POINT (-97.34580 26.16580)

In [47]:
nasa_station_geometry_df = gdf_NASA[['stns', 'geometry']].drop_duplicates()

In [67]:
# nasa_station_geometry_df

In [48]:
nasa_geometry_df = gdf_NASA[['geometry']].drop_duplicates()

In [68]:
nasa_geometry_df

                             geometry
0         POINT (-159.40600 22.20800)
365       POINT (-159.36600 22.08050)
730       POINT (-159.37600 22.09360)
1095      POINT (-159.40500 22.20570)
1460      POINT (-159.40400 22.21390)
...                               ...
15154435  POINT (-155.66900 20.01310)
15156990  POINT (-103.38000 20.72000)
15157355  POINT (-102.28000 20.00000)
15158085  POINT (-101.28300 21.00000)
15160640   POINT (-89.65000 20.98300)

[22846 rows x 1 columns]

In [49]:
nasa_geometry_df_groupby = gdf_NASA.groupby(['stn_lat', 'stn_lon']).agg({'new_date_column': ['min', 'max', 'count']})
#[['new_date_column']].min()

In [65]:
nasa_geometry_df_groupby

                  new_date_column
                              min        max count
stn_lat stn_lon
14.9170 -92.2500       2014-01-01 2015-12-31   730
15.6830 -96.4830       2014-01-01 2015-12-31   730
16.1670 -95.1830       2015-01-01 2015-12-31   365
16.2330 -93.9000       2014-01-01 2015-12-31   730
16.2500 -92.1330       2014-01-01 2015-12-31   730
...                           ...        ...   ...
76.2333 -119.3500      2015-01-01 2015-12-31   365
76.4167 -82.9000       2014-01-01 2015-12-31   730
79.9833 -85.9333       2014-01-01 2015-12-31   730
81.1667 -91.8167       2015-01-01 2015-12-31   365
82.5000 -62.3333       2014-01-01 2015-12-31  1460

[22846 rows x 3 columns]

In [51]:
nasa_geometry_df_groupby.to_csv('nasa_geometry_df_groupby_lookup.csv')

In [52]:
nasa_station_geometry_df.to_csv('nasa_station_geometry_lookup.csv')

In [53]:
# gdf_NASA.iloc[3973843]
# gdf_NASA.iloc[1988859]

In [70]:
gdf_FEMA_plus_station_id=ckdnearest(gdf_FEMA, gdf_NASA) #gdf_NASA[:10000])
gdf_FEMA_plus_station_id

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,...,reportedzipcode,geometry,stns,time,obs,pred,stn_lat,stn_lon,new_date_column,dist
0,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,...,2650,POINT (-70.00000 41.70000),14281,2015-07-11 12:00:00,0.00,0.000000,41.6875,-69.9933,2015-07-11,0.014182
1,NEW BRAUNFELS,2015-10-30,2.0,AE,29.7,-98.1,3.0,1.0,2003-12-02,3309.59,...,78130,POINT (-98.10000 29.70000),490,2014-02-25 12:00:00,0.00,0.000000,29.7050,-98.1154,2014-02-25,0.016191
2,PENSACOLA,2014-04-30,2.0,AE,30.3,-87.5,2.0,1.0,1982-07-01,0.00,...,32507,POINT (-87.50000 30.30000),2024,2014-01-27 12:00:00,NaN,NaN,30.3130,-87.4672,2014-01-27,0.035282
3,EDISTO BEACH,2015-10-03,5.0,AE,32.5,-80.3,1.0,1.0,1980-01-01,0.00,...,29438,POINT (-80.30000 32.50000),3983,2014-06-24 12:00:00,0.00,1.263914,32.5050,-80.2947,2014-06-24,0.007286
4,PENSACOLA,2014-04-29,999.0,X,30.4,-87.3,2.0,1.0,1996-01-01,26119.37,...,32506,POINT (-87.30000 30.40000),2060,2014-01-01 12:00:00,0.03,0.259972,30.3500,-87.3167,2014-01-01,0.052715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52240,HOUSTON,2015-05-25,999.0,X,29.7,-95.6,1.0,1.0,1967-01-15,7901.12,...,77099,POINT (-95.60000 29.70000),839,2014-10-09 12:00:00,0.08,0.000000,29.6600,-95.6275,2014-10-09,0.048541
52241,HOUSTON,2014-05-28,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,2259.89,...,77080,POINT (-95.50000 29.80000),832,2014-01-01 12:00:00,NaN,NaN,29.7946,-95.5261,2014-01-01,0.026653
52242,HOUSTON,2015-05-25,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,1638.83,...,77080,POINT (-95.50000 29.80000),832,2014-01-01 12:00:00,NaN,NaN,29.7946,-95.5261,2014-01-01,0.026653
52243,NEW BRAUNFELS,2015-10-30,999.0,X,29.7,-98.2,1.0,1.0,1974-01-01,13929.98,...,78130,POINT (-98.20000 29.70000),515,2015-01-01 12:00:00,0.28,0.274614,29.7043,-98.2012,2015-01-01,0.004464
52244,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,...,29074,POINT (-80.80000 34.40000),6003,2014-03-21 12:00:00,NaN,NaN,34.3347,-80.7030,2014-03-21,0.116932

In [89]:
gdf_FEMA_plus_station_id.drop(columns=["time","obs","pred","stn_lat","stn_lon","new_date_column","dist","geometry"])

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode,stns
0,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,MA,2650,14281
1,NEW BRAUNFELS,2015-10-30,2.0,AE,29.7,-98.1,3.0,1.0,2003-12-02,3309.59,TX,78130,490
2,PENSACOLA,2014-04-30,2.0,AE,30.3,-87.5,2.0,1.0,1982-07-01,0.00,FL,32507,2024
3,EDISTO BEACH,2015-10-03,5.0,AE,32.5,-80.3,1.0,1.0,1980-01-01,0.00,SC,29438,3983
4,PENSACOLA,2014-04-29,999.0,X,30.4,-87.3,2.0,1.0,1996-01-01,26119.37,FL,32506,2060
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52240,HOUSTON,2015-05-25,999.0,X,29.7,-95.6,1.0,1.0,1967-01-15,7901.12,TX,77099,839
52241,HOUSTON,2014-05-28,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,2259.89,TX,77080,832
52242,HOUSTON,2015-05-25,999.0,X,29.8,-95.5,1.0,1.0,1972-06-01,1638.83,TX,77080,832
52243,NEW BRAUNFELS,2015-10-30,999.0,X,29.7,-98.2,1.0,1.0,1974-01-01,13929.98,TX,78130,515
52244,LIBERTY HILL,2015-12-31,2.0,AE,34.4,-80.8,2.0,1.0,2008-01-17,0.00,SC,29074,6003

In [106]:
from datetime import timedelta

def nearest_date(vec):
    NASA_DataFrame=gdf_NASA
#     FEMA_date, NASA_Station, NASA_DataFrame
#     Start=FEMA_date - timedelta(days=7)
    Start=vec[0] - timedelta(days=7)
    End=vec[0] + timedelta(days=1)
    #greater than the start date and smaller than the end date
    mask = (NASA_DataFrame["stns"]==vec[1])&(NASA_DataFrame['new_date_column'] == vec[0])
#     & (NASA_DataFrame['new_date_column'] == End

    df = NASA_DataFrame.loc[mask]
    Last7DyasSumPrecipitation=df['obs'].sum()     
    return Last7DyasSumPrecipitation

In [ ]:
gdf_FEMA_plus_station_id['Perc7Days'] = gdf_FEMA_plus_station_id[['dateofloss', 'stns']].apply(nearest_date, axis=1)

In [ ]:
gdf_FEMA_plus_station_id

In [98]:
gdf_FEMA_plus_station_id1=ckdnearest(gdf_FEMA[:100], gdf_NASA[:100]) #gdf_NASA[:10000])

In [99]:
gdf_FEMA_plus_station_id1['Perc7Days'] = gdf_FEMA_plus_station_id1[['dateofloss', 'stns']].apply(nearest_date, axis=1)

In [102]:
gdf_FEMA_plus_station_id1.head(70)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,...,geometry,stns,time,obs,pred,stn_lat,stn_lon,new_date_column,dist,Perc7Days
0,NO CHATHAM,2015-02-21,999.0,AE,41.7,-70.0,3.0,1.0,1955-01-01,2618.18,...,POINT (-70.00000 41.70000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,91.506125,1.12
1,NEW BRAUNFELS,2015-10-30,2.0,AE,29.7,-98.1,3.0,1.0,2003-12-02,3309.59,...,POINT (-98.10000 29.70000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,61.762090,0.81
2,PENSACOLA,2014-04-30,2.0,AE,30.3,-87.5,2.0,1.0,1982-07-01,0.00,...,POINT (-87.50000 30.30000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,72.359887,3.53
3,EDISTO BEACH,2015-10-03,5.0,AE,32.5,-80.3,1.0,1.0,1980-01-01,0.00,...,POINT (-80.30000 32.50000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,79.772705,1.07
4,PENSACOLA,2014-04-29,999.0,X,30.4,-87.3,2.0,1.0,1996-01-01,26119.37,...,POINT (-87.30000 30.40000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,72.569857,3.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,FOLEY,2014-04-30,999.0,X,30.4,-87.7,2.0,1.0,1976-01-01,11426.74,...,POINT (-87.70000 30.40000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,72.172428,3.53
66,ROCK ISLAND,2015-12-24,999.0,X,35.7,-85.6,2.0,1.0,2009-01-01,3848.57,...,POINT (-85.60000 35.70000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,75.029059,7.60
67,HOUSTON,2015-05-29,999.0,X,29.8,-95.5,2.0,1.0,1964-01-01,9749.38,...,POINT (-95.50000 29.80000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,64.355383,3.88
68,RODANTHE,2014-07-04,999.0,AE,35.6,-75.5,2.0,1.0,1973-01-01,0.00,...,POINT (-75.50000 35.60000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,84.968009,1.79
69,WICHITA FALLS,2015-05-15,999.0,X,33.9,-98.5,1.0,1.0,1970-01-01,0.00,...,POINT (-98.50000 33.90000),0,2014-01-01 12:00:00,0.05,0.0,22.208,-159.406,2014-01-01,62.018092,2.74